## Data Cleanup

In [3]:
import pandas as pd
import numpy as np

# Step 1: Load original dataset
df = pd.read_csv("swiggy.csv")

# Step 2: Drop duplicate rows
df = df.drop_duplicates()

# Step 3: Clean and impute 'rating'
df['rating'] = df['rating'].replace('--', np.nan)
df['rating'] = df['rating'].astype(float)
df['rating'] = df['rating'].fillna(df['rating'].mean())  # Fill with mean rating

# Step 4: Clean and impute 'rating_count'
df['rating_count'] = df['rating_count'].str.extract('(\d+)')
df['rating_count'] = df['rating_count'].astype(float)
df['rating_count'] = df['rating_count'].fillna(0)  # Fill missing with 0

# Step 5: Clean and impute 'cost'
df['cost'] = df['cost'].replace('‚Çπ', '', regex=True).str.strip()
df['cost'] = df['cost'].astype(float)
df['cost'] = df['cost'].fillna(df['cost'].median())  # Fill missing with median cost

# Step 6: Drop rows missing in important categorical columns
df = df.dropna(subset=['name', 'city', 'cuisine'])

# Step 7: Drop unneeded columns
df = df.drop(columns=['lic_no', 'link', 'menu'])

# Step 8: Reset index
df = df.reset_index(drop=True)

# Step 9: Save cleaned data
df.to_csv("cleaned_data.csv", index=False)

# Step 10: Preview
df.head()

<>:16: SyntaxWarning: invalid escape sequence '\d'
<>:16: SyntaxWarning: invalid escape sequence '\d'
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9084/1008320741.py:16: SyntaxWarning: invalid escape sequence '\d'
  df['rating_count'] = df['rating_count'].str.extract('(\d+)')

,id,name,city,rating,rating_count,cost,cuisine,address
0,567335,AB FOODS POINT,Abohar,3.894461,0.0,200.0,"Beverages,Pizzas","AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI..."
1,531342,Janta Sweet House,Abohar,4.400000,50.0,200.0,"Sweets,Bakery","Janta Sweet House, Bazar No.9, Circullar Road,..."
2,158203,theka coffee desi,Abohar,3.800000,100.0,100.0,Beverages,"theka coffee desi, sahtiya sadan road city"
3,187912,Singh Hut,Abohar,3.700000,20.0,250.0,"Fast Food,Indian","Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR"
4,543530,GRILL MASTERS,Abohar,3.894461,0.0,250.0,"Italian-American,Fast Food","GRILL MASTERS, ADA Heights, Abohar - Hanumanga..."

## Preprocessing

In [5]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import pickle

# Step 1: Load cleaned dataset
df = pd.read_csv("cleaned_data.csv")

# Step 2: Assign original index
df['original_index'] = df.index

# Step 3: Split and explode cuisine column
df['cuisine'] = df['cuisine'].str.split(',')
df_exploded = df.explode('cuisine')
df_exploded['cuisine'] = df_exploded['cuisine'].str.strip()

# Step 4: One-Hot Encode 'city' and 'cuisine'
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
encoded_array = encoder.fit_transform(df_exploded[['city', 'cuisine']])
encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(['city', 'cuisine']))

# Step 5: Add numeric columns + original index
numerical = df_exploded[['rating', 'rating_count', 'cost']].reset_index(drop=True)
encoded_final = pd.concat([numerical, encoded_df], axis=1)
encoded_final['original_index'] = df_exploded['original_index'].values

# Step 6: Save outputs
encoded_final.to_csv("encoded_data.csv", index=False)

with open("encoder.pkl", "wb") as f:
    pickle.dump(encoder, f)

# Step 7: Preview
encoded_final.head()

,rating,rating_count,cost,"city_Abids & Koti,Hyderabad",city_Abohar,"city_Adajan,Surat",city_Adilabad,city_Adityapur,city_Adoni,"city_Adyar,Chennai",...,cuisine_Thalis,cuisine_Tibetan,cuisine_Tribal,cuisine_Turkish,cuisine_Use Code JUMBO30 to avail,cuisine_Use code XPRESS121 to avail.,cuisine_Vietnamese,cuisine_Waffle,cuisine_indian,original_index
0,3.894461,0.0,200.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,3.894461,0.0,200.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,4.400000,50.0,200.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,4.400000,50.0,200.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,3.800000,100.0,100.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2

## Recommendation Methodology

In [7]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
import pickle

# Step 1: Load data and encoder
cleaned_df = pd.read_csv("cleaned_data.csv")
encoded_df = pd.read_csv("encoded_data.csv")

with open("encoder.pkl", "rb") as f:
    encoder = pickle.load(f)

# Step 2: User input
user_input = {
    "city": "Chennai",
    "cuisine": ["South Indian", "Biryani"],
    "rating": 4.2,
    "rating_count": 60,
    "cost": 300
}

# Step 3: Prepare user input DataFrame
input_df = pd.DataFrame([user_input])
input_df = input_df.explode("cuisine")
input_df['cuisine'] = input_df['cuisine'].str.strip()

# Step 4: One-hot encode user input
encoded_input = encoder.transform(input_df[['city', 'cuisine']])
encoded_input_df = pd.DataFrame(encoded_input, columns=encoder.get_feature_names_out(['city', 'cuisine']))

# Step 5: Add numeric values
numerical = pd.DataFrame({
    'rating': [user_input['rating']] * len(input_df),
    'rating_count': [user_input['rating_count']] * len(input_df),
    'cost': [user_input['cost']] * len(input_df)
}).reset_index(drop=True)

user_encoded = pd.concat([numerical, encoded_input_df], axis=1)

# Step 6: Average across cuisines
user_vector = user_encoded.mean().values.reshape(1, -1)

# Step 7: Compute cosine similarity (drop 'original_index' for comparison)
similarity_scores = cosine_similarity(user_vector, encoded_df.drop(columns=['original_index']))[0]

# Step 8: Top 10 indices
top_indices = similarity_scores.argsort()[-10:][::-1]

# Step 9: Use original_index to map back to cleaned_df
original_indices = encoded_df.iloc[top_indices]['original_index'].astype(int)
recommendations = cleaned_df.iloc[original_indices][['name', 'city', 'cuisine', 'rating', 'cost', 'address']]
recommendations.reset_index(drop=True, inplace=True)

# Step 10: Show results
recommendations

,name,city,cuisine,rating,cost,address
0,Deccan mandi house,Kadapa,"Biryani,Arabian",3.5,250.0,"Deccan mandi house, Beside Bombay Function Hal..."
1,Sai Moksh Family Kitchen,Bhimavaram,"North Indian,Biryani",3.5,250.0,"Sai Moksh Family Kitchen, D.No. 27-1-2/1 DNR C..."
2,Kapil Restaurent,Beawar,"Chinese,South Indian",3.5,250.0,"Kapil Restaurent, HOTEL SHANKAR PALACE AJMER R..."
3,The Biryani Life,"Lingampally & Nalagandla,Hyderabad","Biryani,North Indian",3.5,250.0,"The Biryani Life, First floor Sushma Arcade pl..."
4,BLR Food Kourt,"Tarnaka, Nacharam & Malkajigiri,Hyderabad","Biryani,Chinese",3.5,250.0,"BLR Food Kourt, blr food court,highlights home..."
5,King Of Kabab,Valsad,"Biryani,Mughlai",3.5,250.0,"King Of Kabab, kosamba road opp jinnat nagar n..."
6,B13 Food Court,Tohana,"North Indian,South Indian",3.5,250.0,"B13 Food Court, NEAR SAINI CHOWK , RAILWAY ROA..."
7,Saffron9 Mandi House A Multi Cuisine Family Re...,Ramagundam,"Biryani,South Indian",3.5,250.0,Saffron9 Mandi House A Multi Cuisine Family Re...
8,Saffron9 Mandi House A Multi Cuisine Family Re...,Ramagundam,"Biryani,South Indian",3.5,250.0,Saffron9 Mandi House A Multi Cuisine Family Re...
9,Forex Haveli Restaurant,Allahabad,"Indian,Biryani",3.5,250.0,"Forex Haveli Restaurant, Rehana Khatoon, 117, ..."

## Data into MySQL DB

In [ ]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine, text

# -------------------------------
# Step 1: Connect and Create DB
# -------------------------------
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Dark2020@"
)
cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS swiggy_reco")
conn.close()
print("‚úÖ Database 'swiggy_reco' created.")

# -------------------------------
# Step 2: Load Data
# -------------------------------
df_raw = pd.read_csv("cleaned_data.csv")
df_encoded = pd.read_csv("encoded_data.csv")

# -------------------------------
# Step 3: Clean Column Names
# -------------------------------
df_encoded.columns = df_encoded.columns.str.strip().str.lower().str.replace(' ', '_')

# Remove duplicated columns explicitly
df_encoded = df_encoded.loc[:, ~df_encoded.columns.duplicated()]

# Check for duplicates after cleaning
dupes = df_encoded.columns[df_encoded.columns.duplicated()].tolist()
if dupes:
    print("‚ùå Duplicate columns after cleaning:", dupes)
else:
    print("‚úÖ Column names cleaned, no duplicates.")

# -------------------------------
# Step 4: Upload to MySQL
# -------------------------------
engine = create_engine("mysql+mysqlconnector://root:Dark2020%40@localhost/swiggy_reco")

with engine.connect() as connection:
    connection.execute(text("DROP TABLE IF EXISTS restaurants_encoded"))
    connection.execute(text("DROP TABLE IF EXISTS restaurants_raw"))
    print("‚úÖ Old tables dropped if any.")

df_raw.to_sql("restaurants_raw", con=engine, if_exists="replace", index=False)
print("‚úÖ Inserted into 'restaurants_raw'")

df_encoded.to_sql("restaurants_encoded", con=engine, if_exists="replace", index=False)
print("‚úÖ Inserted into 'restaurants_encoded'")

‚úÖ Database 'swiggy_reco' created.
‚úÖ Column names cleaned, no duplicates.
‚úÖ Old tables dropped if any.
‚úÖ Inserted into 'restaurants_raw'

In [5]:
import pandas as pd

# Load existing cleaned CSV
df = pd.read_csv("cleaned_data.csv")

# Fill missing values
df['cuisine'] = df['cuisine'].fillna("None")

# If cuisine is a comma-separated string like "Indian, Chinese", split it into list
df['cuisine'] = df['cuisine'].apply(lambda x: [c.strip() for c in str(x).split(',')])

# One-hot encode cuisine
df_encoded = df.explode('cuisine')
df_encoded = pd.get_dummies(df_encoded, columns=['cuisine'], prefix='cuisine')

# Combine back (group by ID if available, else use other columns)
df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()

# Save to new cleaned file
df_encoded.to_csv("cleaned_data2.csv", index=False)

print("‚úÖ cleaned_data.csv regenerated with one-hot cuisine columns.")

/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()
/var/folders/sp/lgf9tmvs7z36z2vt_yc_ppcm0000gn/T/ipykernel_9354/332883041.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_encoded = df_encoded.groupby(df_encoded.columns.difference(['name']).tolist(), as_index=False).sum()

‚úÖ cleaned_data.csv regenerated with one-hot cuisine columns.

In [7]:
import pandas as pd

df_cleaned = pd.read_csv("cleaned_data.csv")
df_encoded = pd.read_csv("encoded_data.csv")
df_encoded = pd.read_csv("cleaned_data2.csv")

print("üßπ Cleaned Data Columns:", df_cleaned.columns.tolist())
print("üß¨ Encoded Data Columns:", df_encoded.columns.tolist())
print("üß¨ cleaned_data2 Columns:", df_encoded.columns.tolist())

üßπ Cleaned Data Columns: ['id', 'name', 'city', 'rating', 'rating_count', 'cost', 'cuisine', 'address']
üß¨ Encoded Data Columns: ['address', 'city', 'cost', 'cuisine_8:15 To 11:30 Pm', 'cuisine_Afghani', 'cuisine_African', 'cuisine_American', 'cuisine_Andhra', 'cuisine_Arabian', 'cuisine_Asian', 'cuisine_Assamese', 'cuisine_Attractive Combos Available', 'cuisine_Australian', 'cuisine_Awadhi', 'cuisine_BEVERAGE', 'cuisine_Bakery', 'cuisine_Bakery products', 'cuisine_Bangladeshi', 'cuisine_Barbecue', 'cuisine_Bengali', 'cuisine_Beverages', 'cuisine_Bhutanese', 'cuisine_Bihari', 'cuisine_Biryani', 'cuisine_Biryani - Shivaji Military Hotel', 'cuisine_Bowl Company', 'cuisine_British', 'cuisine_Burgers', 'cuisine_Burmese', 'cuisine_Cafe', 'cuisine_Chaat', 'cuisine_Chettinad', 'cuisine_Chinese', 'cuisine_Coastal', 'cuisine_Code valid on bill over Rs.99', 'cuisine_Combo', 'cuisine_Continental', 'cuisine_Default', 'cuisine_Desserts', 'cuisine_Discount offer from Garden Cafe Express Kankurgachi', 'cuisine_European', 'cuisine_Fast Food', 'cuisine_Free Delivery ! Limited Stocks!', 'cuisine_French', 'cuisine_German', 'cuisine_Goan', 'cuisine_Greek', 'cuisine_Grill', 'cuisine_Grocery products', 'cuisine_Gujarati', 'cuisine_Haleem', 'cuisine_Healthy Food', 'cuisine_Home Food', 'cuisine_Hyderabadi', 'cuisine_Ice Cream', 'cuisine_Ice Cream Cakes', 'cuisine_Indian', 'cuisine_Indonesian', 'cuisine_Italian', 'cuisine_Italian-American', 'cuisine_Jain', 'cuisine_Japanese', 'cuisine_Juices', 'cuisine_Kashmiri', 'cuisine_Kebabs', 'cuisine_Kerala', 'cuisine_Keto', 'cuisine_Khasi', 'cuisine_Konkan', 'cuisine_Korean', 'cuisine_Lebanese', 'cuisine_Lucknowi', 'cuisine_MAX 2 Combos per Order!', 'cuisine_Maharashtrian', 'cuisine_Malaysian', 'cuisine_Malwani', 'cuisine_Mangalorean', 'cuisine_Meat', 'cuisine_Mediterranean', 'cuisine_Mexican', 'cuisine_Middle Eastern', 'cuisine_Mongolian', 'cuisine_Mughlai', 'cuisine_Naga', 'cuisine_Navratri Special', 'cuisine_Nepalese', 'cuisine_North Eastern', 'cuisine_North Indian', 'cuisine_Oriental', 'cuisine_Oriya', 'cuisine_Paan', 'cuisine_Pan-Asian', 'cuisine_Parsi', 'cuisine_Pastas', 'cuisine_Persian', 'cuisine_Pizzas', 'cuisine_Popular Brand Store', 'cuisine_Portuguese', 'cuisine_Punjabi', 'cuisine_Rajasthani', 'cuisine_Rayalaseema', 'cuisine_SVANidhi Street Food Vendor', 'cuisine_Salads', 'cuisine_Seafood', 'cuisine_Sindhi', 'cuisine_Singaporean', 'cuisine_Snacks', 'cuisine_South American', 'cuisine_South Indian', 'cuisine_Spanish', 'cuisine_Special Discount from (Hotel Swagath)', 'cuisine_Sri Lankan', 'cuisine_Steakhouse', 'cuisine_Street Food', 'cuisine_Sushi', 'cuisine_Sweets', 'cuisine_Tandoor', 'cuisine_Telangana', 'cuisine_Tex-Mex', 'cuisine_Thai', 'cuisine_Thalis', 'cuisine_Tibetan', 'cuisine_Tribal', 'cuisine_Turkish', 'cuisine_Use Code JUMBO30 to avail', 'cuisine_Use code XPRESS121 to avail.', 'cuisine_Vietnamese', 'cuisine_Waffle', 'cuisine_indian', 'id', 'rating', 'rating_count', 'name']
üß¨ cleaned_data2 Columns: ['address', 'city', 'cost', 'cuisine_8:15 To 11:30 Pm', 'cuisine_Afghani', 'cuisine_African', 'cuisine_American', 'cuisine_Andhra', 'cuisine_Arabian', 'cuisine_Asian', 'cuisine_Assamese', 'cuisine_Attractive Combos Available', 'cuisine_Australian', 'cuisine_Awadhi', 'cuisine_BEVERAGE', 'cuisine_Bakery', 'cuisine_Bakery products', 'cuisine_Bangladeshi', 'cuisine_Barbecue', 'cuisine_Bengali', 'cuisine_Beverages', 'cuisine_Bhutanese', 'cuisine_Bihari', 'cuisine_Biryani', 'cuisine_Biryani - Shivaji Military Hotel', 'cuisine_Bowl Company', 'cuisine_British', 'cuisine_Burgers', 'cuisine_Burmese', 'cuisine_Cafe', 'cuisine_Chaat', 'cuisine_Chettinad', 'cuisine_Chinese', 'cuisine_Coastal', 'cuisine_Code valid on bill over Rs.99', 'cuisine_Combo', 'cuisine_Continental', 'cuisine_Default', 'cuisine_Desserts', 'cuisine_Discount offer from Garden Cafe Express Kankurgachi', 'cuisine_European', 'cuisine_Fast Food', 'cuisine_Free Delivery ! Limited Stocks!', 'cuisine_French', 'cuisine_German', 'cuisine_Goan', 'cuisine_Greek', 'cuisine_Grill', 'cuisine_Grocery products', 'cuisine_Gujarati', 'cuisine_Haleem', 'cuisine_Healthy Food', 'cuisine_Home Food', 'cuisine_Hyderabadi', 'cuisine_Ice Cream', 'cuisine_Ice Cream Cakes', 'cuisine_Indian', 'cuisine_Indonesian', 'cuisine_Italian', 'cuisine_Italian-American', 'cuisine_Jain', 'cuisine_Japanese', 'cuisine_Juices', 'cuisine_Kashmiri', 'cuisine_Kebabs', 'cuisine_Kerala', 'cuisine_Keto', 'cuisine_Khasi', 'cuisine_Konkan', 'cuisine_Korean', 'cuisine_Lebanese', 'cuisine_Lucknowi', 'cuisine_MAX 2 Combos per Order!', 'cuisine_Maharashtrian', 'cuisine_Malaysian', 'cuisine_Malwani', 'cuisine_Mangalorean', 'cuisine_Meat', 'cuisine_Mediterranean', 'cuisine_Mexican', 'cuisine_Middle Eastern', 'cuisine_Mongolian', 'cuisine_Mughlai', 'cuisine_Naga', 'cuisine_Navratri Special', 'cuisine_Nepalese', 'cuisine_North Eastern', 'cuisine_North Indian', 'cuisine_Oriental', 'cuisine_Oriya', 'cuisine_Paan', 'cuisine_Pan-Asian', 'cuisine_Parsi', 'cuisine_Pastas', 'cuisine_Persian', 'cuisine_Pizzas', 'cuisine_Popular Brand Store', 'cuisine_Portuguese', 'cuisine_Punjabi', 'cuisine_Rajasthani', 'cuisine_Rayalaseema', 'cuisine_SVANidhi Street Food Vendor', 'cuisine_Salads', 'cuisine_Seafood', 'cuisine_Sindhi', 'cuisine_Singaporean', 'cuisine_Snacks', 'cuisine_South American', 'cuisine_South Indian', 'cuisine_Spanish', 'cuisine_Special Discount from (Hotel Swagath)', 'cuisine_Sri Lankan', 'cuisine_Steakhouse', 'cuisine_Street Food', 'cuisine_Sushi', 'cuisine_Sweets', 'cuisine_Tandoor', 'cuisine_Telangana', 'cuisine_Tex-Mex', 'cuisine_Thai', 'cuisine_Thalis', 'cuisine_Tibetan', 'cuisine_Tribal', 'cuisine_Turkish', 'cuisine_Use Code JUMBO30 to avail', 'cuisine_Use code XPRESS121 to avail.', 'cuisine_Vietnamese', 'cuisine_Waffle', 'cuisine_indian', 'id', 'rating', 'rating_count', 'name']